conda.enabled = true

profiles {
    local {
        process.conda = "/Users/peter.naylor/mambaforge/envs/isrin"
        executor.queueSize = 1
    }
    Jupyter {
        executor.queueSize = 32
        executor.queue = 'cpu'
        process.executor = 'pbs'
        process.conda = "/lustre/home/u10010004/miniforge3/envs/mathilda10"
    }
}
env {
    PYTHONPATH="$PWD:$PWD/INR4torch"
}